# Ignore implementation-specific directories
implementation/sandboxstorage/
implementation/__pycache__/
implementation/ChachingFace/models--meta-llama--Meta-Llama-3.1-8B-Instruct
implementation/ChachingFace/models--meta-llama--CodeLlama-13b-Python-hf
implementation/ChachingFace/models--bigcode--starcoder2-15b
implementation/ChachingFace/.locks
implementation/Checkpoints_*

# Ignore analysis checkpoints
analysis/Checkpoints_*
analysis/checkpoint_full.txt

# Ignore logs
logs/
*.log
# Ignore compiled Python files
*.pyc

# Ignore specific analysis files or directories
analysis/FilterBest/best_programs.py

# Ignore PDFs
*.pdf

# Ignore private SSH configurations (if applicable)
.ssh/

# Ignore package-related files
src/fundcc.egg-info/

# Ignore experiment sandbox
src/experiments/experiment1/sandbox/

# Ignore Python cache files
src/fundcc/__pycache__/
