version: '3.8'

services:
  devcontainer:
    build:
      context: ../../  # Adjust context to two levels up (since you are inside .devcontainer/external/.devcontainer)
      dockerfile: .devcontainer/external/.devcontainer/Dockerfile
      args:
        - DEBIAN_FRONTEND=noninteractive
    container_name: "fundcc-main"
    tty: true  # Allocate a pseudo-TTY
    privileged: true 
    volumes:
      - ~/.ssh:/root/.ssh  # Maps SSH folder (works across different users)
      - ../../../:/workspace/DistributedFunSearch  
      - /media/:/media/
      - /srv/:/srv/
    network_mode: "host"  # Use host network mode
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: all
            capabilities: [gpu]
